.bg {
    position: relative;
    .title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .line {
        background: url(/mask.png) repeat;
        width: 100%;
        position: absolute;
    }
}
